.app-list {
  padding: 1rem;
  position: relative;
  height: 50vmax;
  overflow-y: auto;

  .v-list {
    margin: auto;
  }

  &__subheader {
    margin-bottom: 1rem;
    font-size: $font-md;
  }

  &__avatar {
    position: relative;
    &__num {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      background-color: $color-accent;
      border: 1px solid $color-black;
      color: $color-primary;
      font-size: $font-sm;
      border-radius: 50%;
    }
  }

  &__content {
    &__title {
    }
  }

  &__action {
    margin: 2rem 0 0 !important;
    width: 100%;
  }
}
