// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------

$color-accent: #3db29d;
$color-primary: #1e102c;
$color-secondary: #000;
$color-danger: #000;
$color-warning: #000;
$color-success: #000;

$color-bg-light: #f9f8ff;

$color-white: #fff;
$color-black: #000;

// -----------------------------------------------------------------------------
// FONT
// -----------------------------------------------------------------------------

$font-main: "Roboto";

// font weights
$font-light: 300;
$font-regular: 500;
$font-bold: 700;

// font sizes
$font-sm: 0.8rem;
$font-md: 1rem;
$font-md-1: 1.25rem;
$font-lg: 1.75rem;
$font-xl: 7rem;

// base font
$base-font: $font-regular $font-md $font-main;

// -----------------------------------------------------------------------------
// BREAKPOINTS
// -----------------------------------------------------------------------------

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
