// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

.theme--light.v-application {
  background-color: $color-bg-light;
}

html,
body {
  font: $base-font;
  color: $color-primary;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.v-icon.v-icon {
  color: $color-accent;
}